JavaTestTurbo/src/javatestturbo/JavaTestTurbo.java
/JavaTestTurbo
/NewProj/nbproject/private/
/NewProj/build/
/MultiplyTable/nbproject/private/
/MultiplyTable/build/
/LoopsExercise/nbproject/private/
/LoopsExercise/build/
/LoopsJavaIsFun/nbproject/private/
/LoopsJavaIsFun/build/
/PhraseCounter/nbproject/private/
/PhraseCounter/build/
/JavaGameTest/nbproject/private/
/JavaGameTest/build/
/MethodsJava/nbproject/private/
/MethodsJava/build/
/PracticeMethods/nbproject/private/
/PracticeMethods/build/
/ParametersExercise/nbproject/private/
/ParametersExercise/build/
/CalculateVat/nbproject/private/
/CalculateVat/build/
/CinemaTicket/nbproject/private/
/CinemaTicket/build/
/ReturnMethods/nbproject/private/
/ReturnMethods/build/
/TwoSixSidedDices/nbproject/private/
/TwoSixSidedDices/build/
/SecondsInYears/nbproject/private/
/SecondsInYears/build/
/JavaCalculator/nbproject/private/
/JavaCalculator/build/
/DiceGame/nbproject/private/
/DiceGame/build/
/ArraysJava/nbproject/private/
/ArraysJava/build/
/AssessmentJava/nbproject/private/
/AssessmentJava/build/
/CodeMethodsTesting/nbproject/private/
/CodeMethodsTesting/build/
/javaGUI/nbproject/private/
/javaGUI/build/
/TESTDELETEAFTER/nbproject/private/
/TESTDELETEAFTER/build/
/LoopsTesting/nbproject/private/
/LoopsTesting/build/
/JavaPixels/nbproject/private/
/JavaPixels/build/
